/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.date-container {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 98%;
    margin: auto;
}

.md-5 {
    margin: 5px;
}

.neg-amt {
    color: green
}

.pos-amt {
    color: #caa153;
}